<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "/header.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
        <style>
            ::-webkit-scrollbar{width:0px;height:0px;}
            .layadmin-backlog .layadmin-backlog-body {
                display: block;
                padding: 10px 15px;
                background-color: #f8f8f8;
                color: #999;
                border-radius: 2px;
                transition: all .3s;
                -webkit-transition: all .3s;
                height: 125px;
            }
            .layadmin-backlog-body h3 {
                padding-bottom: 10px;
                font-size: 21px;
                color: #009688;
                font-weight: 300;
            }
            .layadmin-backlog-body p cite {
                font-style: normal;
                font-size: 16px;
                color: #000;
            }

            .layui-col-xs4 {
                padding: 20px;
            }

            .layui-form-label {
                width: 90px;
            }

            #LAY-component-grid-mobile-pc .layui-card-body {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                height: 200px;
            }

            html {
                background-color: #f2f2f2;
                color: #666;
            }
        </style>
</head>
<body>
   <!-- <div class="layui-card layadmin-backlog" id="companyText">
        <div class="layui-card-header" style="border-bottom:5px solid #F6F6E5;">
            <h2 style="text-align: center; margin: 10px;font-size: 33px;" id="companyNames"> </h2>
        </div>
        <div class="layui-card-body" style="background: #63df9e61;top:27px;">
            <ul class="layui-row layui-col-space10 layui-this" id="communityContent">
            </ul>
        </div>
    </div>-->
    <div class="layui-card" id="communityText" style="height: 1024px;">
       <!-- <div class="layui-card-header">
            <div class="layui-a-tips">
                <h2 id="communityName" style="text-align: center; margin: 20px;font-size: 41px;"> </h2>

               &lt;!&ndash; <div class="layui-col-sm3" style="float: right;margin-top: -65px;">
                    <button class="layui-btn layui-btn-danger" onclick="calBack();">返回</button>
                </div>&ndash;&gt;
            </div>
        </div>-->
        <div class="layui-card-body">
            <div class="layui-col-sm2">
                <blockquote class="layui-elem-quote" id="communityHouse">小区户数:-</blockquote>
            </div>
            <div class="layui-col-sm2">
                <blockquote class="layui-elem-quote" id="loginTimes">登录次数:-</blockquote>
            </div>
            <div class="layui-col-sm2">
                <blockquote class="layui-elem-quote" id="ljbx">累计报修:</blockquote>
            </div>
            <div class="layui-col-sm2">
                <div id="hpl" style="width: 200px;height: 150px;"></div>

            </div>
            <div class="layui-col-sm2">
                <div id="bxbl" style="width: 300px;height: 150px;"></div>
            </div>
        </div>
        <div class=" layui-fluid" id="LAY-component-grid-mobile-pc" >
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs6 layui-col-md7">
                    <!-- 填充内容 -->
                    <div class="layui-card">
                        <div class="layui-card-header">报修待办事项</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel" id="test1">
                                <div carousel-item id="carousel-item">
                                    <div>条目1</div>
                                    <div>条目2</div>
                                    <div>条目3</div>
                                    <div>条目4</div>
                                    <div>条目5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-md5">
                    <div class="layui-card">
                        <div class="layui-card-header">维修人员通讯录</div>
                        <div class="layui-card-body" style="height: 217px;">
                            <table id="workersGrid"></table>
                            <div id="workersGridPager"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs8 layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">热门家事讨论</div>
                        <div class="layui-card-body" style="height: 337px;">
                            <table class="layui-table layuiadmin-page-table "  lay-size="sm">
                                <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>内容</th>
                                </tr>
                                </thead>
                                <tbody id="hotArticle" style="height: 300px;overflow-y:auto;">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs8 layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">报修列表</div>
                        <div class="layui-card-body" style="height: 337px;">
                            <table id="jqGrid"></table>
                            <div id="jqGridPager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script src="${request.contextPath}/statics/plugins/echarts/echarts.min.js"></script>
<!--<script src="${request.contextPath}/statics/plugins/layui/layui.js"></script>-->
<script>
    var communityRepairs, repairsType;
    let companyId;
   // let communityName;
    let layDate;
    let first = true;
    let hpl = echarts.init(document.getElementById('hpl'));
    let bxbl = echarts.init(document.getElementById('bxbl'));
    let communityId ;

    $(function () {
        communityId = $(window.parent.document.getElementById('communityId')).val();
        layDate = layui.laydate;
        getStatistics(communityId);
    });


    var getLoginTimes= function (result) {
        $("#loginTimes").text("登录次数:"+result.data.logintime);
    };
    function getStatistics(id) {
        ajaxFun("sys/dashBoard/loginTimesByCommunityId",{"communityId": id},getLoginTimes);
        queryRepairsStatistic();
        bxblEcharts();
        queryPage({"communityId": id});
        queryworkersPage({"communityId": id,"companyRoleType":"2"});

        ajaxFun("/mobile/article/queryHotArticle",{"communityId": id,"queryType":"5","type":"community"},queryHotArticle);
        ajaxFun("/mobile/repairs/queryNotRepairs",{"communityId": id,},queryNotRepairs);
        ajaxFun("/mobile/repairs/queryRepairsStatistic",{"communityId": id,},queryRepairs);
        ajaxFun("/mobile/repairs/StaticRepairsByStatus",{"communityId": id,},RepairsByStatus);
    }

    let queryNotRepairs =function (result) {
        console.info(result);
        let text = "";
        for (let i=0;i<result.data.length;i++){
            let item = result.data[i];
            let item2 ;
            if (i+1<result.data.length){
                item2=result.data[i+1];
            }
            let detile ="";
            if (item.detail !=null && item.detail.length>25){
                detile = item.detail.substring(0,35)+"...";
            }else {
                detile =item.detail;
            }
            text += '<div>'+
                '<div class="layadmin-contact-box layui-col-sm6"  align="center" style="height: 100%"> ' +
                '          <div class="layui-col-md4 layui-col-sm6" style="margin-top: 33px;">' +
                        '<div class="layadmin-text-center">' +
                    '                <img src="'+item.userHeadImg+'" style="height: 183px;width: 139px;">' +
                    '                <div class="layadmin-maillist-img layadmin-font-blod">'+item.userRealName+'</div>' +
                    '              </div>' +
                        ' </div>' +
                '        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6" style="top: 33px;">' +
                '          <a href="javascript:;">' +
                '            <h3 class="layadmin-title">' +
                '              <strong>'+item.userPhone+'</strong>' +

                '            </h3>' +
                '            <p class="layadmin-textimg">' +
                '              <i class="layui-icon layui-icon-location"></i>' +
                                    item.location+
                '            </p>' +
                '          </a>' +
                                '<strong>超时时间:'+item.lingerTime+'</strong><br>'+
                '          <div class="layadmin-address">' +
                '            <div style="width: 80%;float: right;">' +
                        detile +
                '            </div>' +
                '          </div>' +
                '        </div>' +
                '      </div>';
                if (item2){
                    let detile2 ="";
                    if (item2.detail !=null && item2.detail.length>25){
                        detile2 = item2.detail.substring(0,35)+"...";
                    }else {
                        detile2 =item2.detail;
                    }
                    text +='<div class="layadmin-contact-box layui-col-sm6" style="height: 100%"> ' +
                        '          <div class="layui-col-md4 layui-col-sm6" style="margin-top: 33px;">' +
                        '<div class="layadmin-text-center">' +
                    '                <img src="'+item2.userHeadImg+'" style="height: 183px;width: 139px;">' +
                    '                <div class="layadmin-maillist-img layadmin-font-blod">'+item2.userRealName+'</div>' +
                    '              </div>' +
                        '          </div>' +
                        '        ' +
                        '        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6"style="top: 33px;">' +
                        '          <a href="javascript:;">' +
                        '            <h3 class="layadmin-title">' +
                        '              <strong>'+item2.userPhone+'</strong>' +

                        '            </h3>' +
                        '            <p class="layadmin-textimg">' +
                        '              <i class="layui-icon layui-icon-location"></i>' +
                        item2.location+
                        '            </p>' +
                        '          </a>' +
                        '          <div class="layadmin-address">' +
                                    '<strong>超时时间:'+item.lingerTime+'</strong><br>'+
                        '            <div style="width: 80%;float: right;">' +
                            detile2 +
                        '            </div>' +
                        '          </div>' +
                        '        </div>' +
                        '      </div>';
                    i++;
                }
            text += '</div>';
        }

        $("#carousel-item").html(text);
        layui.use('carousel', function(){
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
                ,width: '100%' //设置容器宽度
                ,arrow: 'always' //始终显示箭头
                ,interval: 500000
            });
        });
    }

    let queryRepairs = function (result) {
        console.info(result);
        let array = new Array();
        let name =new Array();
        $.each(result.data,function (index,item) {
            if (item.repairs_type == 0){
                name.push("电力报修");
                array.push( {name: "电力报修", value: item.number});
            }else if (item.repairs_type == 1){
                name.push("供水报修");
                array.push( {name: "供水报修", value: item.number});
            }else if (item.repairs_type == 2){
                name.push("煤气报修");
                array.push( {name: "煤气报修", value: item.number});
            }else if (item.repairs_type == 3){
                name.push("房屋维修");
                array.push( {name: "房屋维修", value: item.number});
            }
        })
        bxblEcharts(array,name);

    }

    let RepairsByStatus = function (result) {
        let data1 = 0;
        let data2=0;
        let data3=0;
        $.each(result.data,function(index,item){
            if (item.status == "1" || item.status == "2"){
                data1 +=item.number
            }
            if (item.status == "3" || item.status == "4"){
                data2 +=item.number
            }
            if (item.status == "5"){
                data3 +=item.number
            }
        });
        let array = new Array();
        array.push({name: "差评", value: data1});
        array.push({name: "中评", value: data2});
        array.push({name: "好评", value: data3});
        console.info(result);
        queryRepairsStatistic(array);
    }
    function queryRepairsStatistic(array) {
        let option = {
            legend: {
                orient: 'vertical',
                left: 10,
                data: ['差评', '中评', '好评']
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: ['30%', '60%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: array
                }
            ]
        };
        hpl.setOption(option)
    }


    function bxblEcharts(array,name) {
        let option = {
            legend: {
                orient: 'vertical',
                left: 10,
                data: name
            },
            series: [
                {

                    type: 'pie',
                    radius: '55%',
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data:array
                }
            ]
        };
        bxbl.setOption(option)
    }

   let queryHotArticle = function (result) {
        let  hotArticle = "";
        $.each(result.data,function (index,item) {
               let title = item.title;
               let content = item.content;
               if (title.length>10){
                   title = title.substring(0,10)+"...";
               }
               if (content.length>15){
                   content = content.substring(0,20)+"...";
               }
               hotArticle += " <tr> <td>"+title+"</td><td>"+content+"</td> </tr>"
        });
        $("#hotArticle").html(hotArticle);
   };

   /* function calBack() {
        $("#communityText").css("display", "none");
        $("#companyText").css("display", "block");
    }
*/
    function ajaxFun(url, data, resFun) {
        $.ajax({
            type: "POST",
            url: baseURL + url,
            datType: "JSON",
            data: data,
            success: function (result) {
                resFun(result);
            }
        });
    }


    function queryworkersPage(queryCondition) {
        $("#workersGrid").jqGrid({
            url: baseURL + 'communityUser/people/list',
            datatype: "json",
            mtype:"POST",
            postData:queryCondition,
            colModel: [
                { label: '姓名', name: 'realName',align:'center'},
                { label: '工作内容', name: 'repairsType',align:'center'},
                { label: '手机', name: 'userPhone',align:'center'}


            ],
            viewrecords: false,
            height: 139,
            rowNum: 10,
            rowList : [10,30,50],
            rownumbers: false,
            rownumWidth: 25,
            autowidth:true,
            multiselect: false,
            pager: "#workersGridPager",
            jsonReader : {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames : {
                page:"page",
                rows:"limit",
                order: "order"
            },
            gridComplete:function(){
                //隐藏grid底部滚动条
                $("#workersGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });
    }

    function  queryPage(queryCondition) {
        $("#jqGrid").jqGrid({
            url: baseURL + 'mobile/repairs/findRepairsByCommunity',
            datatype: "json",
            mtype:"POST",
            postData:queryCondition,
            colModel: [
                { label: 'id', name: 'id', index: "id",  key: true,hidden:true },
                { label: '业主', name: 'userRealName',align:'center'},
                { label: '业主手机', name: 'userPhone',align:'center'},
                { label: '描述', name: 'detail',align:'center' },
                { label: '状态', name: 'status',align:'center' },
                { label: '提交时间', name: 'createTime',align:'center'},
                { label: '维修类型', name: 'repairsType',align:'center'}
            ],
            viewrecords: true,
            height: 259,
            rowNum: 10,
            rowList : [10,30,50],
            rownumbers: true,
            rownumWidth: 25,
            autowidth:true,
            multiselect: true,
            pager: "#jqGridPager",
            jsonReader : {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames : {
                page:"page",
                rows:"limit",
                order: "order"
            },
            gridComplete:function(){
                //隐藏grid底部滚动条
                $("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });
    }
</script>
</html>