<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "/header.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
        <style>
            ::-webkit-scrollbar{width:0px;height:0px;}
        </style>
</head>
<body>
    <div class="layui-card">
        <div class="layui-card-header">
            <div class="layui-a-tips">
                选择社区:<input id="community"/>
            </div>
            <div class="layui-col-sm4">
                <blockquote class="layui-elem-quote" id="loginTimes">登录次数:-</blockquote>
            </div>
            <div class="layui-col-sm4">
                <blockquote class="layui-elem-quote" id="loginTimesToday">当天登录次数:-</blockquote>
            </div>
        </div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm4">
                    <div class="layuiadmin-card-text">
                        <div class="layui-text-top"><i class="layui-icon layui-icon-water"></i>小区爱心积分</div>
                    </div>
                    <div id="communityLove" style="width: 400px;height: 200px;"></div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4">
                    <div class="layuiadmin-card-text">
                        <div class="layui-text-top"><i class="layui-icon layui-icon-upload-circle"></i>报修状态统计</div>
                        <div id="communityRepairs" style="width: 400px;height: 200px;"></div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4">
                    <div class="layuiadmin-card-text">
                        <div class="layui-text-top"><i class="layui-icon layui-icon-form"></i>报修类型统计</div>
                        <div id="repairsType" style="width: 400px;height: 200px;"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="${request.contextPath}/statics/plugins/echarts/echarts.min.js"></script>
<script>
    var communityLove,communityRepairs,repairsType;
    var seriesLabel = {
        normal: {
            show: true,
            textBorderColor: '#333',
            textBorderWidth: 2
        }
    }
    $(function(){

        communityLove = echarts.init(document.getElementById('communityLove'));
        communityRepairs = echarts.init(document.getElementById('communityRepairs'));
        repairsType = echarts.init(document.getElementById('repairsType'));

        $.ajax({
            type: "GET",
            url: baseURL + "communityMessage/getAllCommunity",
            datType: "JSON",
            success: function (result) {
                console.info(result.data);
                $("#community").kendoDropDownList({
                    optionLabel: "--请选择社区--",
                    dataTextField: "name",
                    dataValueField: "id",
                    dataSource: result.data,
                    change: function (e) {
                        getStatistics(this.value());
                    }
                });
            }
        });
        loveSta();
        communityRepairsSta();
        repairsTypeSta();
    });

    function loveSta() {
        var option = {
            xAxis: {
                data: [],
                axisLabel: {
                    inside: true,
                    textStyle: {
                        color: '#000'
                    }
                },
                z: 10
            },
            yAxis: {
                axisLabel: {
                    textStyle: {
                        color: '#999'
                    }
                }
            },
            dataZoom: [
                {
                    type: 'inside'
                }
            ],
            series:

                {
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                            )
                        },
                        emphasis: {
                            color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                            )
                        }
                    },
                    data: []
                }

        };
        communityLove.setOption(option);
    }
    function communityRepairsSta() {
        var option = {

            legend: {
                data: ['已提交', '待处理', '已完成']
            },
            xAxis: {
                type: 'value',
                name: '条数',
                axisLabel: {
                    formatter: '{value}'
                }
            },
            yAxis: {
                type: 'category',
                inverse: true,
                data: ['状态'],

            },
            series: [
                {
                    name: '已提交',
                    type: 'bar',
                    data: [0],
                    label: seriesLabel
                },
                {
                    name: '待处理',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                },
                {
                    name: '已完成',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                }
            ]
        };
        communityRepairs.setOption(option);
    }
    function repairsTypeSta() {
        var option = {
            legend: {
                data: ['水电报修', '供水报修', '报修报修','房屋报修']
            },
            xAxis: {
                type: 'value',
                name: '条数',
                axisLabel: {
                    formatter: '{value}'
                }
            },
            yAxis: {
                type: 'category',
                inverse: true,
                data: ['类型'],

            },
            series: [
                {
                    name: '水电报修',
                    type: 'bar',
                    data: [0],
                    label: seriesLabel
                },
                {
                    name: '供水报修',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                },
                {
                    name: '报修报修',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                },
                {
                    name: '房屋报修',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                }
            ]
        };
        repairsType.setOption(option);
    }

    var repairsTypeFun=function (result) {
        var yData=new Array();
        if(result.data.length>0){
            $.each(result.data,function (index,item) {
                if(item.repairs_type ==='0'){
                    yData.push( {
                        name: '水电报修',
                        type: 'bar',
                        data: [item.number],
                        label: seriesLabel
                    });
                }
                if(item.repairs_type ==='1'){
                    yData.push({
                        name: '供水报修',
                        type: 'bar',
                        label: seriesLabel,
                        data: [item.number]
                    });
                }
                if(item.repairs_type ==='2'){
                    yData.push({
                        name: '报修报修',
                        type: 'bar',
                        label: seriesLabel,
                        data: [item.number]
                    });

                }
                if(item.repairs_type ==='3'){
                    yData.push({
                        name: '房屋报修',
                        type: 'bar',
                        label: seriesLabel,
                        data: [item.number]
                    });
                }
            });
        }else {
            yData = [
                {
                    name: '水电报修',
                    type: 'bar',
                    data: [0],
                    label: seriesLabel
                },
                {
                    name: '供水报修',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                },
                {
                    name: '报修报修',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                },
                {
                    name: '房屋报修',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                }
            ];
        }
        repairsType.setOption({series:yData});
    };
    var loveFun = function (result) {
        var xData=[];
        var yData=[];
        $.each(result.data,function (index,item) {
            if(index<10){
                xData.push(item.realName);
                yData.push(item.point);
            }
        });
        communityLove.setOption({xAxis:{data:xData},series:{data:yData}});
    };
    var communityRepairsFun=function (result) {
        var yData=new Array();
        if(result.data.length>0){
            $.each(result.data,function (index,item) {
                if(item.status =='0'){
                    yData.push( {
                        name: '已提交',
                        type: 'bar',
                        data: [item.number],
                        label: seriesLabel
                    });
                }
                if(item.status =='1'){
                    yData.push({
                        name: '待处理',
                        type: 'bar',
                        label: seriesLabel,
                        data: [item.number]
                    });
                }
                if(item.status =='2'){
                    yData.push({
                        name: '已完成',
                        type: 'bar',
                        label: seriesLabel,
                        data: [item.number]
                    });

                }

            });
        }
        else {
            yData = [
                {
                    name: '已提交',
                    type: 'bar',
                    data: [0],
                    label: seriesLabel
                },
                {
                    name: '待处理',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                },
                {
                    name: '已完成',
                    type: 'bar',
                    label: seriesLabel,
                    data: [0]
                }
            ]
        }
        communityRepairs.setOption({series:yData});
    };
    var getLoginTimes= function (result) {
        $("#loginTimes").text("登录次数:"+result.data.logintime);
    };
    var getLoginTimesToday= function (result) {
        $("#loginTimesToday").text("当天登录次数:"+result.data.logintime);
    };

    function getStatistics(id) {
        ajaxFun("sys/dashBoard/statisticLoveGoldByCommunityId",id,loveFun);
        ajaxFun("sys/dashBoard/staticRepairsByStatus",id,communityRepairsFun);
        ajaxFun("sys/dashBoard/loginTimesByCommunityId",id,getLoginTimes);
        ajaxFun("sys/dashBoard/loginTimesTodayByCommunityId",id,getLoginTimesToday);
        ajaxFun("sys/dashBoard/staticRepairsByrepairsType",id,repairsTypeFun);
    }

    function ajaxFun(url,id,resFun) {
        $.ajax({
            type: "POST",
            url: baseURL + url,
            datType: "JSON",
            data: {communityId: id},
            success: function (result) {
                resFun(result);
            }
        });
    }
</script>
</html>