<!DOCTYPE html>
<html>
<head>
    <title>审批人员管理</title>
    <#include "/header.html">

        </head>
<body>
    <div>
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" id="communityName"placeholder="社区名称">
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" id="userPhone"  placeholder="用户手机">
            </div>
            <a class="btn btn-default" onclick="query()">查询</a>
            <a class="btn btn-primary" onclick="deletes()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
<input style="display: none;" id="_application_static_url"/>
</body>
<script>
    $("#_application_static_url").val("${request.contextPath}");
    $(function () {
        $("#jqGrid").jqGrid({
            url: baseURL + 'communityUser/people/list',
            datatype: "json",
            mtype:"POST",
            postData:{companyRoleType:2},
            colModel: [
                { label: '', name: 'id',hidden:true  },
                { label: '用户手机', name: 'userPhone'},
                { label: '真实姓名', name: 'realName' },
                { label: '所属社区', name: 'communityName'},
                { label: '创建时间', name: 'createTime'}
            ],
            viewrecords: true,
            height: 385,
            rowNum: 10,
            rowList : [10,30,50],
            rownumbers: true,
            rownumWidth: 25,
            autowidth:true,
            multiselect: true,
            pager: "#jqGridPager",
            jsonReader : {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames : {
                page:"page",
                rows:"limit",
                order: "order"
            },
            gridComplete:function(){
                //隐藏grid底部滚动条
                $("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });
    });


    function query() {
        var page = $("#jqGrid").jqGrid('getGridParam','page');
        $("#jqGrid").jqGrid('setGridParam',{
            postData:{"userPhone": $("#userPhone").val(),
                "communityName":$("#communityName").val(),
                companyRoleType:2},
            page:page
        }).trigger("reloadGrid");
    }
    function deletes() {
        var ids = $("#jqGrid").getGridParam("selarrrow");
        if(ids.length == 0){
            alert("选择一条记录");
            return ;
        }
        $.ajax({
            type: "POST",
            url: baseURL + "communityUser/deleteStaff",
            contentType: "application/json",
            data: JSON.stringify(ids),
            success: function(r){
                if(r.respCode == "1000"){
                    alert('操作成功', function(){
                        query();
                    });
                }else{
                    alert(r.respMsg);
                }
            }
        });
    }
</script>
</html>