<!DOCTYPE html>
<html>
<head>
    <title>审批人员管理</title>
    <#include "/header.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
        </head>
<body>
<div id="grid">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" id="communityName"placeholder="社区名称">
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" id="userPhone"  placeholder="用户手机">
            </div>
            <a class="btn btn-default" onclick="query()">查询</a>
            <a class="btn btn-primary" onclick="deletes()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
<div id="repairsType" style="display:none;">
    <input id="repairs" class="layui-input" placeholder="维修类型"/>
</div>
<input style="display: none;" id="_application_static_url"/>
</body>
<script>
    $("#_application_static_url").val("${request.contextPath}");
    $(function () {
        $("#jqGrid").jqGrid({
            url: baseURL + 'communityUser/people/list',
            datatype: "json",
            mtype:"POST",
            postData:{companyRoleType:2,'communityId': window.parent.$("#communityId").val()},
            colModel: [
                { label: '', name: 'id',hidden:true  },
                { label: '用户手机', name: 'userPhone'},
                { label: '真实姓名', name: 'realName' },
                { label: '所属社区', name: 'communityName'},
                {label: '创建时间', name: 'createTime'},
                {label: '维修工作类型', name: 'repairsType'},
                {
                    label: '操作', name: '', formatter: function (cellvalue, options, rowObject) {
                    return ' <a class="btn btn-default" onclick="queryInfo(' + rowObject.id + ')">分配维修类型</a>';
                }
                }

            ],
            viewrecords: true,
            height: 385,
            rowNum: 10,
            rowList : [10,30,50],
            rownumbers: true,
            rownumWidth: 25,
            autowidth:true,
            multiselect: true,
            pager: "#jqGridPager",
            jsonReader : {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames : {
                page:"page",
                rows:"limit",
                order: "order"
            },
            gridComplete:function(){
                //隐藏grid底部滚动条
                $("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });
    });


    function query() {
        var page = $("#jqGrid").jqGrid('getGridParam','page');
        $("#jqGrid").jqGrid('setGridParam',{
            postData:{"userPhone": $("#userPhone").val(),
                "communityName":$("#communityName").val(),
                'communityId': window.parent.$("#communityId").val(),
                companyRoleType:2},
            page:page
        }).trigger("reloadGrid");
    }


    function deletes() {
        var ids = $("#jqGrid").getGridParam("selarrrow");
        if(ids.length == 0){
            alert("选择一条记录");
            return ;
        }
        $.ajax({
            type: "POST",
            url: baseURL + "communityUser/deleteStaff",
            contentType: "application/json",
            data: JSON.stringify(ids),
            success: function(r){
                if(r.respCode == "1000"){
                    alert('操作成功', function(){
                        query();
                    });
                }else{
                    alert(r.respMsg);
                }
            }
        });
    }

    function queryInfo(id) {
        var data = [
            {name:"电力报修",value:0},
            {name:"供水报修",value:1},
            {name:"煤气报修",value:2},
            {name:"房屋维修",value:3}
        ];
        $("#repairs").kendoDropDownList({
            dataTextField: "name",
            dataValueField: "value",
            dataSource: data
        });
        layer.open({
            type: 1,
            skin: 'layui-layer-molv',
            title: "分配维修类型",
            area: ['300px', '250px'],
            fixed: false,
            content: $('#repairsType'),
            closeBtn: 1,
            btn: ['确定', '取消'],
            yes: function (index, layero) {//    //点击确定回调
                var repairs = $("#repairs").val();
                $.ajax({
                    type: "POST",
                    url: baseURL + "communityUser/setRepairsType",
                    datType: "JSON",
                    data: {repairsType:repairs,id:id},
                    success: function (data) {
                        query();
                        layer.close(index);
                    }
                });

            }
        });

    }
</script>
</html>