<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>审批流程管理</title>
    <#include "/header.html"/>
        </head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.communityName" @keyup.enter="query" placeholder="社区">
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.processName" @keyup.enter="query" placeholder="流程名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("message:add")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-pencil-square-o"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("message:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-plus"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("message:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">流程名称</div>
                <div class="col-sm-10">
                    <input type="text"  i class="form-control"  v-model="processMessage.processName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">流程类型</div>
                <div class="col-sm-10">
                    <select class="select"  v-on:change="selectType($event)">
                        <template v-for="item in typeList">
                            <option v-bind:value = "item.value">{{item.name}}</option>
                            </templa>
                        </template>
                    </select>
                    <input type="text" class="form-control" style="display: none;" v-model="processMessage.processType" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">一级处理人</div>
                <div class="col-sm-10">
                    <input type="text" id="phoneOne" @click="getUser('phoneOne')"  class="form-control" readonly="readonly"  />
                    <input type="text" style="display:none;"  class="form-control" v-model="processMessage.phoneOne" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">二级处理人</div>
                <div class="col-sm-10">
                    <input type="text" id="phoneTwo" @click="getUser('phoneTwo')" class="form-control" readonly="readonly"/>
                    <input type="text" style="display:none;"  class="form-control" v-model="processMessage.phoneTwo"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">上报人</div>
                <div class="col-sm-10">
                    <input type="text" id="reportPerson" class="form-control" @click="getUser('reportPerson')" readonly="readonly"/>
                    <input type="text" style="display:none;"  class="form-control" v-model="processMessage.reportPerson"  />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">社区名称</div>
                <div class="col-sm-10">
                    <input type="text" id="communityName" class="form-control" @click="getCommunity()"  readonly="readonly" />
                    <input type="text" style="display:none;" class="form-control" v-model="processMessage.communityId" />
                </div>
                <input type="text" style="display:none;" class="form-control" v-model="processMessage.id" />
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" style="background: #1b510f;" @click="saveOrUpdate" value="保存"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-primary" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>


<!-- 弹窗 -->
<div class="content" id="userGrid" style="display: none">
    <table id="jqUserGrid"></table>
    <div id="jqUserGridPager"></div>
</div>


<!-- 弹窗 -->
<div class="content" id="communityGrid" style="display: none">
    <table id="jqCommunityGrid"></table>
    <div id="jqCommunityGridPager"></div>
</div>
<script src="${request.contextPath}/statics/js/modules/auditprocess/processManage.js?_${.now?long}"></script>
</body>
<script>

</script>
</html>