<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>社区审核</title>
    <#include "/header.html">
        <style>
            select {
                height: 34px;
                line-height: 34px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 14px;
                color: #555;
            }
            option{
                height: 32px;
                line-height: 32px;
            }

        </style>
        </head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2" style="width: 26%;">
               开始时间： <input type="text"  class="layui-input" id="startTime" v-model="q.startTime" @keyup.enter="query">
            </div>
            <div class="form-group col-sm-2" style="width: 26%;">
               结束时间： <input type="text" class="layui-input" id="endTime" v-model="q.endTime" @keyup.enter="query">
            </div>
            <div class="form-group col-sm-2">
               <select id="isCheck">
                   <option value="">全部</option>
                   <option value="0">未审核</option>
                   <option value="1">审核通过</option>
                   <option value="2">审核未通过</option>
               </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
           <!-- <#if shiro.hasPermission("community:check")>
                <a class="btn btn-primary" @click="check"><i class="fa fa-pencil-square-o"></i>&nbsp;审核</a>
            </#if>-->
            <a class="btn btn-default" @click="setCompany">设置物业公司</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" id="panelId"  class="panel panel-default">
        <div class="panel-heading">{{title}}</div>

    </div>

</div>

<!-- 选择物业 -->
<div id="company" class="content" style="display: none;padding:10px;">
    <table id="jqCompanyGrid"></table>
</div>
<script src="${request.contextPath}/statics/js/modules/propertyCompany/communityCheck.js?_${.now?long}"></script>


</body>

</html>