<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>社区审核</title>
    <#include "/header.html">
        <style>
            select {
                height: 34px;
                line-height: 34px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 14px;
                color: #555;
            }
            option{
                height: 32px;
                line-height: 32px;
            }

        </style>
        </head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2" style="width: 26%;">
               开始时间： <input type="text"  class="layui-input" id="startTime" v-model="q.startTime" @keyup.enter="query">
            </div>
            <div class="form-group col-sm-2" style="width: 26%;">
               结束时间： <input type="text" class="layui-input" id="endTime" v-model="q.endTime" @keyup.enter="query">
            </div>
            <div class="form-group col-sm-2">
               <select id="isCheck">
                   <option value="">全部</option>
                   <option value="0">未审核</option>
                   <option value="1">审核通过</option>
                   <option value="2">审核未通过</option>
               </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("community:check")>
                <a class="btn btn-primary" @click="check"><i class="fa fa-pencil-square-o"></i>&nbsp;审核</a>
            </#if>
            <a class="btn btn-default" @click="setCompany">设置物业公司</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" id="panelId"  class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <!--<form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">社区名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="community.name" placeholder="社区名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">城市</div>
                <div class="col-sm-4">
                    <select class="select"   v-model="province"  v-on:change="indexSelect($event)" >
                        <template v-for="item in provinceList">
                            <option v-bind:value = "item.value">{{item.text}}</option>
                        </template>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="select"  v-model="city" v-on:change="selectCity($event)">
                        <template v-for="item in cityList">
                            <option v-bind:value = "item.value">{{item.text}}</option>
                        </template>
                    </select>
                </div>
                <input style="display: none;"v-model="community.cityCode"/>

            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="community.address" placeholder="地址"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">描述</div>
                <div class="col-sm-10">
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="community.describe" placeholder="描述"/>
                    </div>
                    <input type="text" id="communityId" style="display: none"  v-model="community.id"/>
                    <input type="text" id="adminId" style="display: none" v-model="community.adminId" />
                </div>
            </div>
        </form>
        <div class="form-group" style="width: 20%;position: absolute;right: 0px;top: 60%;">
            <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>&nbsp;&nbsp;
            <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>-->
    </div>

</div>

<!-- 选择物业 -->
<div id="company" class="content" style="display: none;padding:10px;">
    <table id="jqCompanyGrid"></table>
</div>
<script src="${request.contextPath}/statics/js/modules/propertyCompany/communityCheck.js?_${.now?long}"></script>


</body>

</html>