<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>审批人员管理</title>
    <#include "/header.html">

    <!--    <link rel="stylesheet" href="${request.contextPath}/statics/css/fileinput.css">-->
        <link rel="stylesheet" href="${request.contextPath}/statics/plugins/diyUpload/globle.css">
        </head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="企业名称">
            </div>

            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("company:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("company:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("company:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" id="panelId"  class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">企业名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="company.name" placeholder="企业名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">法人名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="company.legalPerson" placeholder="法人名称"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">联系号码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="company.telPhone" placeholder="联系号码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">登录账户</div>
                <div class="col-sm-10">
                    <input id="userId"/>
                    <!--<select class="select"  v-model="loginUser" v-on:change="indexSelect($event)">
                        <template v-for="item in userList">
                            <option v-bind:value = "item.value">{{item.text}}</option>
                        </template>
                    </select>-->
                    <input type="text" class="form-control" style="display:none;" v-model="company.administratorId"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="company.address" placeholder="地址"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">营业执照</div>
                <div class="col-sm-10" style="height: 190px;">
                    <div class="form-group">
                        <ul class="upload-ul clearfix">
                            <li class="upload-pick">
                                <div class="webuploader-container clearfix" id="fish_file"></div>
                            </li>
                        </ul>
                    </div>
                    <input type="text" id="imgId" style="display: none"  v-model="company.companyImg"/>
                    <input type="text" id="companyId" style="display: none"  v-model="company.id"/>
                </div>
            </div>

        </form>
        <div class="form-group" style="    width: 20%;position: absolute;right: 0px;top: 60%;">
            <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>&nbsp;&nbsp;
            <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </div>

</div>
<!-- 选择部门 -->
<script src="${request.contextPath}/statics/js/modules/propertyCompany/company.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/plugins/diyUpload/js/diyUpload.js" type="text/javascript"></script>
<script src="${request.contextPath}/statics/plugins/diyUpload/js/webuploader.min.js" type="text/javascript"></script>

<script>



    $(function(){
        //上传图片
        $('#fish_file').diyUpload({
            url:'${request.contextPath}/welfare/sysFile/upload',
            success:function(response,fileBox) {
                if(response){
                    //var obj = response;
                    var imgId = $("#imgId").val();
                    $("#imgId").val( imgId+"_"+response.id);
                    vm.company.companyImg = imgId+"_"+response.id;
                    //console.info(obj);
                    //fileBox.append("<input name='"+fileBox.selector.substring(1,fileBox.selector.length)+"' value='"+response.id+"' style='display:none;'/>");
                }else{
                    alert("图片上传失败！");
                }
            },
            // 选完文件后，是否自动上传。
            auto: true,
            error:function( err ) { },
            buttonText : '',
            accept: {
                title: "Images",
                extensions: 'gif,jpg,jpeg,bmp,png'
            },
            thumb:{
                width:120,
                height:90,
                quality:100,
                allowMagnify:true,
                crop:true,
                type:"image/jpeg"
            }
        });
    });

</script>
</body>
</html>